@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html, body{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

a{
  color: #3a4ed5;
  font-weight: 600;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

.hearticon{
  margin: 0 15px 15px;
  height: 1.5em;
  position: relative;
}

.likebtn{
  font-size: 1.5em !important;
  color: #8c8c8c;
  position: absolute;
  top: 0;
  left: 0;
}

.likebtn:hover{
  color: #c6c6c6;
  cursor: pointer;
}

.likedbtn{
  font-size: 1.5em !important;
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.likedbtn:hover{
  cursor: pointer;
}

p{
  color: #1c1c1c;
  margin: 0 0 1.5em;
}

body{
  background-color: #fafafa;
}

.console{
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
}

.container{
  width: 600px;
  padding-top: 5vh;
  margin: 0 auto;
  overflow: hidden;
}

article{
  background-color: #fff;
  border: 1px solid #ededed;
  overflow: hidden;
  margin-bottom: 5vh;
  position: relative;
}

.heart{
  position: absolute;
  left: 50%;
  top: 150px;
  display: none;
}

.heart i{
  position: relative;
  left: -50%;
  display: block;
  font-size: 18em !important;
  color: #fff;
}

.title{
  margin: 10px 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.title li{
  list-style-type: none;
  float: left;
  margin-left: 15px;
  font-weight: 600;
}

.profilepic{
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.patrick{
  background-image: url("img/1.jpg");
  background-size: cover;
}

.paul{
  background-image: url("img/6.jpg");
  background-size: cover;
}

.profile{
  background-image: url("img/profile.jpg");
  background-size: cover;
}

#image{
  width: 100%;
}

.desc{
  margin: 10px 15px;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.name{
  font-weight: 600;
}

.hashtag{
  color: #003569;
}

.hashtag:hover{
  cursor: pointer;
}

.you{
  display: none;
}

#videoElement {
    width: 100%;
    height: 450px;
    background-color: #666;
}
