@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

html, body{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

a{
  color: #3a4ed5;
  font-weight: 600;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

.popup{
  background-color: #000;
  padding: 20px 10px;
  width: 250px;
  text-align: center;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -125px;
  z-index: 9999;
  display: none;
  font-size: 2em;
}

.popup p{
  margin: 0;
  color: yellow;
}

.ja{
  padding: 5px 19px;
  font-size: 1em;
  background-color: yellow;
  border: 0;
}

.ja:hover{
  cursor: pointer;
  background-color: vanilla;
}

.nee{
  background-color: yellow;
  border: 0;
}

.bottombar{
  height: 2em;
}

.hearticon{
  margin: 0 15px 15px;
  height: 1.5em;
  width: 1.5em;
  float: left;
  position: relative;
  display: inline-block;
  z-index: 999;
}

.likebtn{
  font-size: 1.5em !important;
  color: #8c8c8c;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1,1);
  transition: 0.3s;
}

.likebtn:hover{
  color: #c6c6c6;
  cursor: pointer;
}

/*.likedbtn{
  font-size: 1.5em !important;
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transform: scale(1,1);
  transition: 0.3s;
}

.likedbtn:hover{
  cursor: pointer;
}*/

.likedbutton{
  display: none;
  overflow: visible;
}

.likedbutton:hover{
  cursor: pointer;
}

#rightheart {
  animation-fill-mode: forwards;
  transform-origin: 0% 100%;
  fill: red;
}

#leftheart {
  animation-fill-mode: forwards;
  transform-origin: 100% 100%;
  fill: red;
}

.breakright{
  animation: moveRight 1s alternate;
}

.breakleft{
  animation: moveLeft 1s alternate;
}

@keyframes moveRight {
 0% {transform: rotate(0deg);}
 100% {transform: rotate(25deg);}
}

@keyframes moveLeft {
 0% {transform: rotate(0deg);}
 100% {transform: rotate(-25deg);}
}

.grow{
  transform: scale(10,10);
  transition: 1s;
}

@-webkit-keyframes wiggle{
    0% {-webkit-transform: translateX(10px);}
    50% {-webkit-transform: translateX(0px);}
    100% {-webkit-transform: translateX(10px);}
}

.arrow{
  height: 50px;
  padding: 10px 20px;
  font-size: 2.5em;
  position: absolute;
  margin: 0;
  top: -1em;
  left: -9em;
  color: #fff;
  background-color: #000;
  display: none;
  -webkit-animation: wiggle 0.4s ease infinite;
}

.arrow:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #000;
	border-width: 15px;
	margin-top: -15px;
}

.comment{
  float: left;
  padding: 1px 10px;
  border: 0;
  font-size: 1em;
}

p{
  color: #1c1c1c;
  margin: 0 0 1.5em;
}

body{
  background-color: #fafafa;
}

.console{
  font-family: 'Cutive Mono', monospace;
  font-size: 1.2em;
  width: 300px;
  position: fixed;
  left: 10px;
  top: 10px;
}

.container{
  width: 600px;
  padding-top: 5vh;
  margin: 0 auto;
  position: relative;
}

article{
  background-color: #fff;
  border: 1px solid #ededed;
  margin-bottom: 5vh;
  position: relative;
}

.heart{
  position: absolute;
  left: 50%;
  top: 150px;
  display: none;
}

.heart svg{
  width: 100%;
  position: relative;
  left: -50%;
  overflow: visible;
}

.heart i{
  position: relative;
  left: -50%;
  display: block;
  font-size: 18em !important;
  color: #fff;
}

.title{
  margin: 10px 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.title li{
  list-style-type: none;
  float: left;
  margin-left: 15px;
  font-weight: 600;
}

.profilepic{
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.patrick{
  background-image: url("img/1.jpg");
  background-size: cover;
}

.paul{
  background-image: url("img/6.jpg");
  background-size: cover;
}

.sunnytjuh{
  background-image: url("img/10.jpg");
  background-size: cover;
}

.jackson{
  background-image: url("img/11.jpg");
  background-size: cover;
}

.profile{
  background-image: url("img/profile.jpg");
  background-size: cover;
}

#image{
  width: 100%;
}

.desc{
  margin: 10px 15px;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.name{
  font-weight: 600;
}

.hashtag{
  color: #003569;
}

.hashtag:hover{
  cursor: pointer;
}

.you{
  display: none;
}

#videoElement {
    width: 598px;
    height: 450px;
    background-color: #666;
    display: none;
}

#canvas{
  width: 598px;
  height: 450px;
}

.snap{
  position: absolute;
  width: 0px;
  height: 0px;
  margin: 0;
  padding: 0;
  border: 0;
}
